<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="ayto.zafrApp"
    android:versionCode="18"
    android:versionName="2.1.8"
    android:installLocation="preferExternal"
    
    >
    
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.CAMERA"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.WAKE_LOCK" />



	<application
        android:icon="@drawable/app_icono"
        android:label="@string/nombre_app"
        android:theme="@style/Theme.Customactionbar"
        android:allowBackup="false"
		tools:replace="android:icon,android:label">
       
       <activity
            android:name="clases_principales.PantallaSplashActivity"
            android:label="@string/nombre_app" 
            android:logo="@drawable/app_icono"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            >
            
       <intent-filter>
            <action android:name="android.intent.action.MAIN" />
		    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            </activity>
            <activity android:name="clases_principales.MenuPrincipalActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat" ></activity>
       		<activity android:name="rss.activities.RssNoticiasActivity" android:screenOrientation="portrait" ></activity>
       		<activity android:name="rss_feria.activities.RssNoticiasFeriaActivity" android:screenOrientation="portrait" ></activity>
       		
       		
       		<activity android:name="clases_principales.AgendaActivity" android:screenOrientation="portrait" ></activity>
     		<activity android:name="clases_principales.LectorQRActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
            <activity android:name="clases_principales.MenuMasActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
     		<activity android:name="clases_principales.AcercaDeActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
     		<activity android:name="clases_principales.CategoriasZafraActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
     		<activity android:name="radio.activities.RadioActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
     		<activity android:name="lunaalfuego.activities.CategoriasLunaFuegoActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
     		<activity android:name="lunaalfuego.activities.InfoDetalleProgramacionActivity" android:screenOrientation="portrait"></activity>
     		<activity android:name="lunaalfuego.fragments.MapaFragment" android:screenOrientation="portrait"></activity>
     		<activity android:name="lunaalfuego.fragments.FotosLunaFuegoFragment" android:screenOrientation="portrait"></activity>
     		<activity android:name="lunaalfuego.activities.SwipeLunaFuegoActivity" android:screenOrientation="portrait"></activity>
     		<activity android:name="lunaalfuego.activities.SwipeMapaActivity" android:screenOrientation="portrait"></activity>
     		<activity android:name="lunaalfuego.activities.ListaActividadesActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
     		<activity android:name="lunaalfuego.activities.InfoDetalleActividadesActivity" android:screenOrientation="portrait"></activity>
     		<activity android:name="lunaalfuego.activities.ListaProgramacionActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
     		
     		<activity android:name="feriazafra.activities.CategoriasFeriaZafraActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
     		<activity android:name="feriazafra.activities.PlanoFeriaActivity" ></activity>
     		<activity android:name="feriazafra.activities.InformacionInteresActivity" android:screenOrientation="portrait"></activity>
     		<activity android:name="feriazafra.activities.SwipeGaleriaZafraActivity" android:screenOrientation="portrait"></activity>
     		<activity android:name="feriazafra.fragments.FotosFeriaZafraFragment" android:screenOrientation="portrait"></activity>
     		<activity android:name="feriazafra.activities.ListaProgramacionActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
     		<activity android:name="feriazafra.activities.InfoDetalleProgramacionActivity" android:screenOrientation="portrait"></activity>
     		<activity android:name="feriazafra.activities.ListaExpositoresActivity" android:screenOrientation="portrait"></activity>
        	<activity android:name="feriazafra.activities.MostrarItemExpositoresActivity" android:screenOrientation="portrait"></activity>
        	
     		<activity android:name="monumentos.activities.ListaMonumentosActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
            <activity android:name="monumentos.activities.TabSwipeMonumentosActivity" android:screenOrientation="portrait"></activity>
        	<activity android:name="monumentos.fragments.InicioMonumentosFragment" android:screenOrientation="portrait"></activity>
        	<activity android:name="monumentos.fragments.InfoMonumentosFragment" android:screenOrientation="portrait"></activity>
        	<activity android:name="monumentos.fragments.FotosMonumentosFragment" android:screenOrientation="portrait"></activity>
        	<activity android:name="restaurantes.activities.ListaRestaurantesActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
      		<activity android:name="restaurantes.activities.CategoriasRestaurantesActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
      		<activity android:name="restaurantes.activities.TabSwipeRestaurantesActivity" android:screenOrientation="portrait"></activity>
        	<activity android:name="restaurantes.fragments.InicioRestaurantesFragment" android:screenOrientation="portrait"></activity>
        	<activity android:name="restaurantes.fragments.InfoRestaurantesFragment" android:screenOrientation="portrait"></activity>
        	<activity android:name="restaurantes.fragments.FotosRestaurantesFragment" android:screenOrientation="portrait"></activity>
        	<activity android:name="alojamientos.activities.ListaAlojamientosActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
      		<activity android:name="alojamientos.activities.CategoriasAlojamientosActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
      		<activity android:name="alojamientos.activities.TabSwipeAlojamientosActivity" android:screenOrientation="portrait"></activity>
        	<activity android:name="alojamientos.fragments.InicioAlojamientosFragment" android:screenOrientation="portrait"></activity>
        	<activity android:name="alojamientos.fragments.InfoAlojamientosFragment" android:screenOrientation="portrait"></activity>
        	<activity android:name="alojamientos.fragments.FotosAlojamientosFragment" android:screenOrientation="portrait"></activity>
        	<activity android:name="leyendas.Activities.ListaLeyendasActivity" android:screenOrientation="portrait"></activity>
        	<activity android:name="leyendas.Activities.MostrarItemLeyendasActivity" android:screenOrientation="portrait"></activity>
        	<activity android:name="personajes.activity.PersonajesListaActivity" android:screenOrientation="portrait"></activity>
        	<activity android:name="personajes.activity.MostrarItemPersonajesActivity"
				android:screenOrientation="portrait"></activity>
        	
      <activity
   			android:name="com.google.zxing.client.android.CaptureActivity"
   			android:clearTaskOnLaunch="true"
   			android:configChanges="orientation|keyboardHidden"
   			android:screenOrientation="portrait"
   			android:stateNotNeeded="true"
   			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
   			android:windowSoftInputMode="stateAlwaysHidden" >
   <intent-filter>
      		<action android:name="android.intent.action.MAIN" />
      		<category android:name="android.intent.category.DEFAULT" />
   </intent-filter>
   <intent-filter>
      		<action android:name="app.proyecto.visitazafra.SCAN" />
      		<category android:name="android.intent.category.DEFAULT" />
   </intent-filter>
</activity>
		<service 
            android:enabled="true"
            android:name="radio.services.MyMediaPlayerService"
            android:permission="ayto.appzafra.MY_SERVICE_PERMISSION" />
		<receiver android:name="ayto.zafrApp.MyIntentReceiver">
   			<intent-filter>
      			<action android:name="android.media.AUDIO_BECOMING_NOISY" />
   			</intent-filter>
		</receiver>

		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider>

        </application>


</manifest>
